.banner {
    position: relative;
    text-align: center;
    color: white;
    height: 500px;
    background: url('../img/fondo.jpg') no-repeat center center/cover;
    margin-top: 0px;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.banner h1, .banner p {
    margin: 0;
    padding: 10px;
}

.presentacion {
    text-align: center;
    padding: 50px;
    background: url('../img/presentacion-bg.jpg') no-repeat center center/cover;
    color: white;
    background-color: #2484D1;
}

.presentacion h2 {
    color: white;
}

.presentacion p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.eventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.evento-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.evento-card:hover {
    transform: translateY(-10px);
}

.evento-card h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.evento-card .fecha {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.evento-card p {
    color: #333;
    line-height: 1.5;
}
.banner-2 {
    text-align: center;
    margin-top: 20px;
}

.banner-2 h3 {
    color: #ffffff;
    font-size: 1.2em;
}

.banner-2 h3 a {
    color: #f39c12;
    text-decoration: none;
    font-weight: bold;
}

.banner-2 h3 a:hover {
    text-decoration: underline;
}

.banner-2 h3 i {
    margin-left: 5px;
    font-size: 1em;
}
